@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap');
@import "tailwindcss";


:root{
    /* Primary */
    --lime:hsl(61, 70%, 52%);
    --red:hsl(4, 69%, 50%);

    /* Neutral */
    --white: hsl(0, 0%, 100%);
    --slate-light: hsl(202, 86%, 94%);
    --slate-normal: hsl(203, 41%, 72%);
    --slate-dark: hsl(200, 26%, 54%);
    --slate-darker: hsl(200, 24%, 40%);
    --slate-darkest: hsl(202, 55%, 16%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
font-family: 'Plus Jakarta Sans' , sans-serif;
}

section{
  background-color: var(--white);
}

.header-row{
  margin:  20px 20px 0;
  display:flex;
  flex-direction: column;
}
.title-header{
 font-weight: bold;
 color: var(--slate-darkest);
 font-size: 23px;

}

.clear-text{
  color:var(--slate-darker);

}

label{
  margin: 20px 0 10px;
  color: var(--slate-darker);
  font-size: 15px;
}

input {
  height: 40px;
  border: 1px solid var(--slate-dark);
}
input[type="radio"] {
  margin: 0 15px;
}

.input-fields{
  margin:  20px ;
}
.mortgage-type{
  margin-top: 10px;
}

button{
  background-color: var(--lime);
  height:40px;
  margin-top:20px;
}

.result-area{
  background-color:var(--slate-darkest);
  min-height: 420px;
  padding: 40px 25px;
  display: flex;

}


.result-empty-text{
color: var(--white);
  font-size:20px;
  margin:20px 0 15px 0;
  
}
.complete-form-text{
  color: var(--slate-normal);
  font-size:14px;
  text-align:center;

}
.result-text{
  color: var(--white);
  font-size:24px;
  margin-bottom:10px;
}
.result-description{
  color: var(--slate-normal);
  font-size:14px;
  margin-bottom: 10px;

}
hr {
  border: none;
  height: 1px;
  background-color: var(--slate-darker);
  margin: 20px 0;
}

.result-box {
  position: relative;
  border-radius: 12px;
  background-color: #0E232F;
  padding: 20px;
  margin-top:25px;
}

.result-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background: var(--lime);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.amount-monthly-repayments{
margin: 10px 0;

}

.amount-monthly-repay-term{
margin: 10px 0;
font-size:20px;
}


.result-area {
  display: flex;
}

.calculator-section > div {
  flex: 1;
  
}


/* Desktop layout */
@media (min-width: 768px) {
  body{
    background-color:var(--slate-light);
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
  }

 section{
  border-radius: 24px;
  display:flex;
  flex-direction: row;
  align-items: stretch;
  max-width: 900px;
  min-width:500px;
  margin:20px;
  }

  .header-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
  }
  
.result-area{
 border-radius: 0 24px 24px 72px;
padding:30px;
}
.input-area{
  padding:10px; 
}
.term-rate {
  display: flex;
  gap: 20px;
}


.term-rate > div {
  flex: 1;
}
button{
  padding:0 30px;

}
.result-box::before {
  height: 4px;

}
 

}



