@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap');
@import "tailwindcss";


:root{
    /* Primary */
    --lime:hsl(61, 70%, 52%);
    --lime-light: #DFF27A;  
    --red:hsl(4, 69%, 50%);

    /* Neutral */
    --white: hsl(0, 0%, 100%);
    --slate-light: hsl(202, 86%, 94%);
    --slate-normal: hsl(203, 41%, 72%);
    --slate-dark: hsl(200, 26%, 54%);
    --slate-darker: hsl(200, 24%, 40%);
    --slate-darkest: hsl(202, 55%, 16%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
font-family: 'Plus Jakarta Sans' , sans-serif;
}

section{
  background-color: var(--white);
}

.header-row{
  margin:  20px 20px 0;
  display:flex;
  flex-direction: column;
}
.title-header{
 font-weight: bold;
 color: var(--slate-darkest);
 font-size: 23px;

}

.clear-text{
  color:var(--slate-darker);

}

label{
  margin: 20px 0 10px;
  color: var(--slate-darker);
  font-size: 15px;
}

input {
  height: 40px;
  border: 1px solid var(--slate-dark);
  color: var(--slate-darkest);
  font-weight: 600;

}


/* Custom radio button styling */
input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border: 2px solid hsl(61, 70%, 52%);
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  position: relative;
  background-color: white;
  margin:12px;
}

/* Checked state - inner dot */
input[type="radio"]:checked::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--lime);
}
.mortgage-type:active{
background-color:  hsl(340, 77%, 37%);
}
/* Hover effect */
input[type="radio"]:hover {
  border-color: hsl(61, 70%, 62%);
}

.input-fields{
  margin:  20px ;
}
.mortgage-type{
margin-top: 10px;
border-color:var(--slate-dark);
}
.mortgage-type:active{
background-color: hsl(61, 70%, 96%);
}
.amount-term-rate{
background-color: var(--slate-light);
color: var(--slate-darker);
              
}

#mortgage-amount{
  padding-left: 55px;  
}

#mortgage-term, #interest-rate{
  padding-left: 15px;  
}
button{
  background-color: var(--lime);
  height:40px;
  margin-top:20px;
}

.result-area{
  background-color:var(--slate-darkest);
  min-height: 420px;
  padding: 40px 25px;
  display: flex;

}

.result-empty-text{
color: var(--white);
  font-size:20px;
  margin:20px 0 15px 0;
  
}
.complete-form-text{
  color: var(--slate-normal);
  font-size:14px;
  text-align:center;

}
.result-text{
  color: var(--white);
  font-size:24px;
  margin-bottom:10px;
}
.result-description{
  color: var(--slate-normal);
  font-size:14px;
  margin-bottom: 10px;

}
hr {
  border: none;
  height: 1px;
  background-color: var(--slate-darker);
  margin: 20px 0;
}

.result-box {
  position: relative;
  border-radius: 12px;
  background-color: #0E232F;
  padding: 20px;
  margin-top:25px;
}

.result-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background: var(--lime);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.amount-monthly-repayments{
margin: 10px 0;

}

.amount-monthly-repay-term{
margin: 10px 0;
font-size:20px;
}


.result-area {
  display: flex;
}

.calculator-section > div {
  flex: 1;
  
}

.clear-text:hover {
cursor: pointer;
color:var(--slate-darkest);
}
#mortgage-amount:hover, #mortgage-term:hover, #interest-rate:hover{
cursor: pointer;
border-color:var(--slate-darkest);
}


.mortgage-type:hover {
cursor: pointer;
border-color: var(--lime);
  }


button:hover{
  cursor: pointer;
  background-color: var(--lime-light);
}



/* Desktop layout */
@media (min-width: 768px) {
  body{
    background-color:var(--slate-light);
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
  }

 section{
  border-radius: 24px;
  display:flex;
  flex-direction: row;
  align-items: stretch;
  max-width: 900px;
  min-width:500px;
  margin:20px;
  }

  .header-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
  }
  
.result-area{
 border-radius: 0 24px 24px 72px;
padding:30px;
}
.input-area{
  padding:10px; 
}
.term-rate {
  display: flex;
  gap: 20px;

}


.term-rate > div {
  flex: 1;
}
button{
  padding:0 30px;
  margin-top:30px;

}
.result-box::before {
  height: 4px;

}
 

}



